
body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex: auto;
    flex-direction: row;
}
article {
    flex: 2;
    overflow-y: auto;
    background-color: rgb(245, 243, 243);
}
aside {
    flex: 1;
    overflow-y: auto;
}